.btn {
  background: linear-gradient(to right, #0066ff, #00d9ff);
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  width: 10rem;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
